@media only screen and (max-width: 1024px) {
  .products .glasses {
    display: none;
  }

  .products {
    justify-content: center;
  }

  .products .pen, .products .watch {
    width: 47%;
  }

  .menu nav {
    display: none;
  }

  .menu #menu {
    color: white;
    display: block;
    text-align: center;
  }

  .arrival h1{
    font-size: 1.8rem;
  }
}

/*470px*/
@media only screen and (max-width: 470px) {
header span {
  display: none;
}
header {
  display: flex;
  justify-content: center;
}

.banner{
  max-height: 15rem;
}


.banner .arrival {
  margin-top: 10rem;
  padding: 1rem 2rem;
  width: 100%;
}

  .banner h4 {
  font-size: 0.77rem;
  }

  .banner h1 {
  font-size: 1rem;
  }

  .products .watch {
    display: none;
  }
  .products .prod {
    width: 90%;
    margin: auto;
  }

  .info .hours, .info .location {
    width: 90%;
    margin: 0.5rem auto 0 auto;
  }
  .info {
    flex-direction: column;
  }

  footer .foot {
    justify-content: center;
  }
}
/*end media*/


html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/*header*/
header {
  background-color: black;
}

.content{
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img {
  height: 1.5rem;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

/*banner*/
.banner {
  background-image: url("../../resources/images/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.arrival {
  background-color: black;
  color: white;
  width: 20rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 3rem;
}

.ban {
  width: 960px;
  display: flex;
  justify-content: flex-start;
}

.banner h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

/*menu*/
.menu {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#menu {
  display: none;
}


/*products*/
.products {
  max-width: 960px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}

.prod {
  width: 30%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 4px black solid;
  justify-content: center;
}

.prod img{
  height: 9rem;
  padding: 2rem;
}

.prod span {
width: 100%;
background-color: black;
padding: 0.5rem;
align-self: flex-end;
display: flex;
justify-content: center;

}
.glasses img{
max-width: 9rem;
height: auto;
}

/*info*/
.info{
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 4rem;
}

.info p {
  font-weight: normal;
}

.location, .hours {
  width: 35%;
}

.location h3, .hours h3 {
  display: block;
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}


/*footer*/
footer {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.foot {
  width: 960px;
}
