html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/*header*/
header {
  background-color: black;
  color: white;
}

.content{
  max-width: 960px;
  margin: auto;
  border: solid green;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img {
  height: 1.5rem;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

/*banner*/
.banner {
  background-image: url("../../resources/images/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  border: solid white;
}

.arrival {
  background-color: black;
  color: white;
  width: 20rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 3rem;
  border: solid white;
}

.ban {
  width: 960px;
  display: flex;
  justify-content: flex-start;
}

/*menu*/
.menu {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.products {
  max-width: 960px;
  margin: 3rem auto;
  border: black solid;
  color: black;
  display: flex;
}

.prod img{
  height: 9rem;
  padding: 2rem;
  display: flex;
  border: black solid;
}

.glasses img {
  width: 30%;
  height: auto;
}

.prod span {

}
